@media screen and (min-width: 768px){

    .about-img{
        justify-content: center;
        /* width: 100%; */
        margin-left: 25px;
    }
    .about-text {
        margin-top: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 576px){
    .about-text{
        text-align: center;
        margin: auto;
    }

}