 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap'); 

 /* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

*{
  box-sizing: border-box;
}


/* 
HERO
 */

 .images-carousel {
  height: 800px;
 }

 .carousel-caption{
  margin-bottom: 250px;
 }

 .judul-hero{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
 }

 .images-carousel-list{
  height: 700px;
 }

  .judul-hero-list{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  justify-content: center;
  margin: auto;
 }
/* 
HERO END
 */
#pages-about-us {
  margin-top: 50px;
}

#pages-about-us .about-text {
  width: 470px;
  margin-left: 80px;
}

#button-cari{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4A60A1;
  color: aliceblue;
  font-size: 20px;

}

#pages-about-us .about-text p:nth-child(2) {
  margin-top: 20px;
}

#pages-about-us .about-text p:nth-child(3) {
  margin-top: 40px;
}

#pages-about-us .judul-about{
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}

#pages-about-us .isi-about{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

/* 
Popular metting room
*/

.judul-populer-room{
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}




/* awal testimnoails */
.home-testimonial {
  height: 380px;
  margin-top: 50px;
}
.home-testimonial-bottom {
  background-color: #4A60A1;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
      width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.home-testimonial h3 {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.home-testimonial h2 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}
.testimonial-inner {
  position: relative;
  top: -174px;
}
.testimonial-pos {
  position: relative;
  top: 24px;
}
.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.color-grey-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}
.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}
.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}
.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2;
}
/* akhir testimonias */

/* AWAL CARD */
main{
  width: 100%;
  margin: 0 auto;
}

/* 
content
*/
.content-pages{
  padding: 100px;
  padding-top: 40px;
}

#posts{
  margin: 32px auto auto;
  text-align: left;
}

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all .5s;
}

.post-item:hover{
  transform: scale(1.1);
  background-color: white;
  z-index: 99;
}

.post-item__content {
  padding: 10px;
}

.post-item__thumbnail {
  width: 100%;
  max-height: 20rem;
}


.post-item__rating {
  font-size: 15px;
  text-transform: uppercase;
  color: #999;
  text-align: left;
}

.post-item__rating .jumlah-rating{
  font-size: 15px;
  background-color: #4A60A1;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
}

.post-item__address {
  font-size: 18px;
  color: #999;
  text-align: left;
}

.post-item__start-money{
  font-size:15px;
  color: #999;
  text-align: right;
}

.post-item__start-money .money{
  font-size: 20px;
  color:#f15c59;
  font-weight: 500;
}

.post-item__date__author {
  color: #999;
  text-decoration: none;
}

.post-item__title {
  font-size: 18px;
  margin-top: 16px;
  transition: 0.3s opacity;
    font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #4A60A1;
  padding: 10px;
  margin-top: auto;
  color: aliceblue;
  text-align: center;
}

.post-item__title:hover {
  opacity: 0.5;
}

.post-item__title a {
  text-decoration: none;
  color: inherit;
}

.post-item__description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}

.post-item__description a{
  text-decoration: none;
      font-family: 'Poppins', sans-serif;
  color: #395144;
  font-weight: 500;
}
 
 
/* akhir card */

/* DETAILS ROOM */
.image-pages-details{
  width: 900%;
  height: 500px;
  margin: 0 auto;
}

.text-judul-details{
font-family: 'DM Sans', sans-serif;
font-weight: 600;
font-size: 40px;
text-align: left;
}

.details__rating{
  font-size: 20px;
  text-align: left;
}

.jumlah-rating-details{
  background-color: #4A60A1;
  color: aliceblue;
}

.deskripsi-pages-details{
  width: 80%;
}

.card-pages-room{
  height: fit-content;
}
/* AKHIR DETAILS ROOM */

/** gallery  section **/

.gallery {
     padding-top: 60px;
}

.gallery .title-page-gallery {
     text-align: center;
     font-family: 'DM Sans', sans-serif;
     font-weight: 500;
     margin-bottom: 20px;
}

.gallery .gallery_img {
     overflow: hidden;
     margin-bottom: 30px;
}

.gallery .gallery_img figure {
     margin: 0;
}

.gallery .gallery_img figure img {
     width: 100%;
     transition: all .5s;
}

.gallery .gallery_img figure img:hover {
     transform: scale(1.2);
}


/** end gallery  section **/

footer {
  margin-top: 100px;
  background-color: #4A60A1;
}

footer .text-footer p{
font-family: 'Poppins', sans-serif;
color: aliceblue;
font-weight: 500;
margin: auto;
}
