<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="dicoding:email" content="irfanramadhani@students.amikom.ac.id">
    <title>Diroom.in - ESKALA Eatery Bar & Coffee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="icon" href="../public/images/icon.png" type="image/x-icon" />
</head>

<body>
    <!-- AWAL NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <a href="./list-room.html"><button type="button" class="btn mx-2 text-white px-4 p-2 border"
                        style="background-color:#4A60A1;">Cari Metting Room</button></a>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- IMAGE DETAILS ROOM START -->
    <section class="pages-details-foto">
        <div class="container ">
            <div class="row">
                <div class="card-pages-room col-12 shadow-sm mt-3">
                    <img src="../public/images/Api Foto Sementara/eskala eatery.jpg"
                        class="image-pages-details img-fluid d-flex justify-content-center mt-3 rounded-top"
                        alt="Responsive image">
                    <div class="content-judul-details mt-3">
                        <h1 class="text-judul-details text-left">ESKALA Eatery Bar & Coffee</h1>
                        <p class="details__rating">⭐⭐⭐⭐ • <span class="jumlah-rating-details p-1 rounded">4.5</span></p>
                        <p class="harga-text">Mulai dari <span class="harga-room"><br>IDR 155.000</span></p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="deskripsi-details-room-pages shadow-sm p-4">
                    <h2 class="judul-deskripsi-room-pages">Keunggulan ESKALA Eatery Bar & Coffee</h2>
                    <p class="deskripsi-pages-details">Kafe ini mempunyai design dan arsitektur bangunan yang sangat menarik untuk milenial. Konsep modern tanpa menghilangkan suasana tropis juga kalian temukan ditempat ini.suasana outdoor yang sangat menarik, menu yang ditawarkan di kafe ini sangat beragam dengan banyak pilihan menu. Dari masakan Indonesia sampai dengan masakan luar negeri. ruang indoor untuk room meeting juga luas.</p>
                    <p class="kapasitas-pages-details">Kapasitas :<br><span class="jumlah-kapasitas">40 Orang</span></p>
                    <p class="fasilitas-pages-details">Fasilitas :<br><span class="fasilitas-details"> AC | WIFI | TV
                        </span></p>
                </div>
            </div>
                        <div class="row mt-3">
                            <div class="alamat-details-room shadow-sm p-4">
                                <h2 class="judul-deskripsi-room-pages">Lokasi ESKALA Eatery Bar & Coffee</h2>
                                <p class="deskripsi-pages-details">📍Jl. Palagan Tentara Pelajar, Tegal Rejo, Sariharjo,
                                    Kec. Ngaglik, Kabupaten Sleman</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="riview-details-room shadow-sm p-4">
                                <h2 class="judul-deskripsi-room-pages">Riview ESKALA Eatery Bar & Coffee</h2>
                                <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                                    <h4>👤 Arman</h4>
                                    <p class="riview-deskripsi">Tempatnya bagus, dan nyaman</p>
                                </div>
                                <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                                    <h4>👤 Irfan</h4>
                                    <p class="riview-deskripsi">keren bgt deh estetik</p>
                                </div>
                                <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                                    <h4>👤 Intan</h4>
                                    <p class="riview-deskripsi">menunya bervariasi, dan enak semua, nggak nyesel deh meeting disini</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <a href="http://wa.me/089506584723" class="button-menuju-pesan rounded-4">
                                <div class="date-ready-pages shadow-sm p-3">
                                    <h2 class="judul-deskripsi-room-pages text-center">Booking Now</h2>
                                </div>
                            </a>
                        </div>
        </div>
    </section>
    <!-- IMAGE DETAILS ROOM END -->

    <!-- fotor start -->
    <footer class="text-center text-white">
        <div class="text-footer text-center text-dark p-3">
            <p>Developed by @Diroom.in</p>
        </div>
    </footer>
    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>

</body>

</html>
