<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="dicoding:email" content="irfanramadhani@students.amikom.ac.id">
    <title>Diroom.in - Ibaia coffee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="icon" href="../public/images/icon.png" type="image/x-icon" />
</head>

<body>
    <!-- AWAL NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <a href="./list-room.html"><button type="button" class="btn mx-2 text-white px-4 p-2 border"
                        style="background-color:#4A60A1;">Cari Metting Room</button></a>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- IMAGE DETAILS ROOM START -->
    <section class="pages-details-foto">
        <div class="container ">
            <div class="row">
                <div class="card-pages-room col-12 shadow-sm mt-3">
                    <img src="../public/images/Api Foto Sementara/Ibaia Coffee.jpg.jfif"
                        class="image-pages-details img-fluid d-flex justify-content-center mt-3 rounded-top"
                        alt="Responsive image">
                    <div class="content-judul-details mt-3">
                        <h1 class="text-judul-details text-left">Ibaia coffee</h1>
                        <p class="details__rating">⭐⭐⭐⭐ • <span class="jumlah-rating-details p-1 rounded">4.0</span></p>
                        <p class="harga-text">Mulai dari <span class="harga-room"><br>IDR 150.000</span></p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="deskripsi-details-room-pages shadow-sm p-4">
                    <h2 class="judul-deskripsi-room-pages">Keunggulan Ibaia coffee</h2>
                    <p class="deskripsi-pages-details">Kafe yang membawa konsep tradisional klasik dengan suasana khas pedesaan dengan rindangnya pohon, gemercik air sungai, dan bangun tradisonal jawa. kafe ini terdapat sungai kecil yang bersih dan jadi spot duduk terfavorit para pelanggan, menu yang bervariatif membuat betah berlama-lama. cocok untuk meeting outdour atau kegiatan yang tidak formal </p>
                    <p class="kapasitas-pages-details">Kapasitas :<br><span class="jumlah-kapasitas">40 Orang</span></p>
                    <p class="fasilitas-pages-details">Fasilitas :<br><span class="fasilitas-details"> AC | WIFI | TV
                        </span></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="alamat-details-room shadow-sm p-4">
                    <h2 class="judul-deskripsi-room-pages">Lokasi Ibaia coffeee</h2>
                    <p class="deskripsi-pages-details">📍Jl. Noto Sukardjo, Ponason, Donoharjo, Kec. Ngaglik, Kabupaten
                        Sleman</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="riview-details-room shadow-sm p-4">
                    <h2 class="judul-deskripsi-room-pages">Riview Ibaia coffee</h2>
                    <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                        <h4>👤 Putra</h4>
                        <p class="riview-deskripsi">tempatnya sejuk dan asri.</p>
                    </div>
                    <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                        <h4>👤 Lily</h4>
                        <p class="riview-deskripsi">konsepnya beda banget,unik pokoknya</p>
                    </div>
                    <div class="user-riview shadow-sm p-2 rounded-3 border border-bottom-0 mt-2">
                        <h4>👤 Hasna</h4>
                        <p class="riview-deskripsi">tempat outdoornya luas bangett, bisa buat kegiatan bareng temen temen.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <a href="http://wa.me/089506584723" class="button-menuju-pesan rounded-4">
                    <div class="date-ready-pages shadow-sm p-3">
                        <h2 class="judul-deskripsi-room-pages text-center">Booking Now</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- IMAGE DETAILS ROOM END -->

    <!-- fotor start -->
    <footer class="text-center text-white">
        <div class="text-footer text-center text-dark p-3">
            <p>Developed by @Diroom.in</p>
        </div>
    </footer>
    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>

</body>

</html>
