<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diroom.in - memudahkan untuk kamu yang produktif</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="icon" href="../public/images/icon.png" type="image/x-icon" />
</head>

<body>
    <!-- AWAL NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <a href="./list-room.html"><button type="button" class="btn mx-2 text-white px-4 p-2 border"
                        style="background-color:#4A60A1;">Cari Metting Room</button></a>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- AWAL HERO IMAGE -->
    <section id="pages-hero">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner d-flex">
                <img src="../public/images/hero-2.png" class="images-carousel d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h1 class="judul-hero">Cari Tempat Metting Room mudah,<br>Hanya ada di Diroom.in</h1>
                        <a href="./list-room.html"><button type="button" class="btn mt-3 p-4 rounded-4" id="button-cari">Cari Meeting Room di Yogyakarta</button></a>
                    </div>
            </div>
    </section>
    <!-- AKHIR HERO IMAGE -->

    <!-- ##### Section 2 Start ##### -->
    <div class="container" id="pages-about-us">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-md-12">
                <div class="about-img">
                    <img src="../public/images/about us.png" alt="" class="image-landingpage-aboutus img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12 ps-l-5 mt-md-5">
                <div class="about-text text-start">
                    <p> | About Us</p>
                    <h2 class="judul-about">Memberikan Kemudahan Untuk Kegitan Kumpul Kamu</h2>
                    <p class="isi-about">Diroom.in berkomitmen sejak awal untuk memberikan kemudahan bagi kamu dan teman kerja kamu supaya
                        lebih mudah dalam mencari tempat metting room.</p>
                    <p class="isi-about">Dengan kemudahan ini diharapkan waktu kamu untuk mempersiapkan untuk metting menjadi lebih mudah.
                    </p>
                    <a href="./about-us.html"><button type="button" class="btn active text-white px-4 py-2"  id="button-cari">Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Section 2 End ##### -->


    <!-- ##### Popular Room Start ##### -->
    <section class="popularroom" id="sectionIII" style="margin-top: 80px;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center mb-4 ">
                    <h2 class="judul-populer-room">Popular Metting Room</h2>
                    <p>Metting Room terpopuler di Yogyakarta</p>
                </div>
            </div>
        </div>

        <div class="card-pupular-metting-room row justify-content-center">

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/Cafe Brick.jpg" class="image-populer-card card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cafe Brick</h5>
                    <p class="card-text">Hidangan internasional disajikan di kedai kopi kasual bertema Inggris & ruang kerja bersama.</p>
                </div>
            </div>

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/Ibaia Coffee.jpg.jfif" class="image-populer-card card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ibaia coffee</h5>
                    <p class="card-text"> Kafe dengan suasana khas pedesaan dengan rindangnya pohon, gemercik air sungai, dan bangun tradisonal jawa disertai ruang kerja bersama.</p>
                </div>
            </div>

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/jeeva.jpg" class="image-populer-card card-img-top mt-3"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeeva Yogyakarta</h5>
                    <p class="card-text"> Suasana nyaman dan elegan. Interiornya cukup unik, dengan lampu-lampu bundar dan pilihan warna-warna pastel untuk dindingnya. </p>
                </div>
            </div>
        </div>
        <div class="card-pupular-metting-room row justify-content-center">

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/eskala eatery.jpg" class="image-populer-card card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ESKALA Eatery Bar & Coffee</h5>
                    <p class="card-text">Design dan arsitektur bangunan yang sangat menarik untuk milenial. Konsep modern tanpa menghilangkan suasana tropis juga kalian temukan ditempat ini.</p>
                </div>
            </div>

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/legend-coffee-jogja.jpg" class="image-populer-card card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Legend Coffee</h5>
                    <p class="card-text">Kafe disertai ruang kerja tenang yang menyajikan kreasi minuman & kopi, plus camilan, hidangan daging & favorit lokal.</p>
                </div>
            </div>

            <div class="card m-2" style="width: 370px;">
                <img src="../public/images/Api Foto Sementara/Phinisi Cafe Jogja.jpg" class="image-populer-card card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Phinisi Cafe Jogja</h5>
                    <p class="card-text">Floating Resto dengan ruang kerja dengan konsep unik berupa kapal pinisi,area indoor atau kabin memiliki desain interiornya yang estetik</p>
                </div>
            </div>
        </div>
                    <a href="./list-room.html" class="d-flex justify-content-center" style="text-decoration: none;"><button type="button" class="btn text-white px-4 py-2 mt-2" id="button-cari"
                    style="background-color:#4A60A1; width: fit-content;">Learn More</button></a>
        <!-- ##### Popular Room End ##### -->
    </section>

    <!-- Testimonials START  -->
    <section class="home-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos">
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <h3>Testimonials</h3>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <h2>Testimoni Pengguna Diroom.in</h2>
                </div>
            </div>
            <section class="home-testimonial-bottom">
                <div class="container testimonial-inner">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">saya bisa menemukan
                                        referensi room meeting yang variatif di Yogyakarta</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people"
                                            src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg"
                                            alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Student</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">Berkat Diroom.in saya gaperlu susah
                                        lagi deh cari meeting room dengan preferensi yang sesuai</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people"
                                            src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                            alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Student</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">Diroom.in bisa banget bantu aku buat
                                        cari room meeting, cocok banget</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people"
                                            src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                            alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Student</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>
    <!-- Testimonials END  -->

    <!-- fotor start -->
    <footer class="text-center text-white">
        <div class="text-footer text-center text-dark p-3">
            <p>Developed by @Diroom.in</p>
        </div>
    </footer>
    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>

</body>

</html>