<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="dicoding:email" content="irfanramadhani@students.amikom.ac.id">
    <title>list Metting Room</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="icon" href="../public/images/icon.png" type="image/x-icon" />
</head>

<body>
    <!-- AWAL NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <a href="./list-room.html"><button type="button" class="btn mx-2 text-white px-4 p-2 border"
                    style="background-color:#4A60A1;">Cari Metting Room</button></a>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- #### AWAL HERO IMAGE ####-->
    <section id="pages-hero-list">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner d-flex">
                <img src="../public/images/suci-melia-nirmalasari-QFEhwobJeIc-unsplash.jpg"
                    class="images-carousel-list d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1 class="judul-hero-list">Berikut adalah list Metting Room<br> yang terdapat di Yogyakarta</h1>
                </div>
            </div>
    </section>
    <!-- ##### AKHIR HERO IMAGE #### -->


    <!-- #### LIST METTING ROOM START #### -->
    <main id="maincontent">
        <section class="content-pages"> 
            <div class="list-room" id="posts">
                <article class="post-item">
                    <a href="./detail-room.html" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/Cafe Brick.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Cafe Brick</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.5</span></p>
                            <p class="post-item__address">📍Jl. Noto Sukardjo, Ponason, Donoharjo, Kec. Ngaglik, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">200.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="./detail-room-eskala.html" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/eskala eatery.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">ESKALA Eatery Bar & Coffee</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.5</span></p>
                            <p class="post-item__address">📍Jl. Palagan Tentara Pelajar, Tegal Rejo, Sariharjo, Kec. Ngaglik, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">155.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="./details-room-ibia.html" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/Ibaia Coffee.jpg.jfif" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Ibaia coffee</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.0</span></p>
                            <p class="post-item__address">📍Jl. Noto Sukardjo, Ponason, Donoharjo, Kec. Ngaglik, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">150.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/jeeva.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Jeeva Yogyakarta</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.4</span></p>
                            <p class="post-item__address">📍Jl. Suhartono No.2, Kotabaru, Kec. Gondokusuman, Kota Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">170.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/legend-coffee-jogja.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Legend Coffee</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.4</span></p>
                            <p class="post-item__address">📍Jl. Abu Bakar Ali No.24-26, Kotabaru, Kec. Gondokusuman, Kota Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">140.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/Phinisi Cafe Jogja.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Phinisi Cafe Jogja</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.5</span></p>
                            <p class="post-item__address">📍Jl. Candi Gebang, Beran Kidul, Beran, Kec. Sleman, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">240.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/bawah langit.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bawah Langit</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Kaliurang Timur, Nglaban, Sinduharjo, Kec. Ngaglik, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">160.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/always-coffee.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Always Coffee Jogja</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.7</span></p>
                            <p class="post-item__address">📍Jl. Melon Mundusaren, Nologaten, Caturtunggal, Kec. Depok, Kabupaten Sleman</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">120.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/Api Foto Sementara/Simetri-Coffee-Yogyakarta.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Simetri Coffee Roaster</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.7</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">175.000</span></p>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>

    <!-- #### AKHIR LIST METTTING ROOM #### -->
    <!-- fotor start -->
    <footer class="text-center text-white">
        <div class="text-footer text-center text-dark p-3">
            <p>Developed by @Diroom.in</p>
        </div>
    </footer>
    <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>

</body>

</html>
