
#posts {
  display: grid;
  grid-row-gap: 16px;
}


.row justify-content-center {
  display: grid;
  grid-row-gap: 16px;
}

#pages-about-us .about-text {
  width: 100%;
  text-align: center;
  margin-left: auto;
}

.img-fluid {
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 499px) {
  .tour-item {
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 455px) {
  .tour-item {
    margin-bottom: 10px;
  }

  }


@media screen and (min-width: 500px) {
  .tour-item {
    margin-bottom: 10px;
  }


}

@media screen and (min-width: 650px) {
  .tour-item {
    margin-bottom: 10px;
  }


}

@media screen and (min-width: 700px) {
  .about-img {
    width: 100%;
    margin: 2.5em;
  }

  .tour-item {
    margin-bottom: 10px;
  }


}

@media screen and (min-width: 900px) {
  .row justify-content-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tour-item {
    margin-bottom: 10px;
  }
      #posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .img-fluid {
    max-width: 100%;
    margin: auto;
  }

  #pages-about-us .about-text {
    text-align: center;
    width: auto;
    margin-left: 2em;
  }

  .popularroom {
    max-width: 1200px;
    margin: auto;
  }

  .tour-item {
    margin-bottom: 10px;
  }
}
