<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>list Metting Room</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="icon" href="../public/images/icon.png" type="image/x-icon" />
</head>

<body>
    <!-- AWAL NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light py-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" alt="Bootstrap">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <button type="button" class="btn mx-2 text-white px-4 border"
                    style="background-color:#4A60A1;">Login</button>
                <button type="button" class="btn btn-light border px-4">Daftar</button>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- #### AWAL HERO IMAGE ####-->
    <section id="pages-hero-list">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner d-flex">
                <img src="../public/images/suci-melia-nirmalasari-QFEhwobJeIc-unsplash.jpg"
                    class="images-carousel-list d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1 class="judul-hero-list">Berikut adalah list Metting Room<br> yang terdapat di Yogyakarta</h1>
                </div>
            </div>
    </section>
    <!-- ##### AKHIR HERO IMAGE #### -->


    <!-- #### LIST METTING ROOM START #### -->
    <main id="maincontent">
        <section class="content-pages"> 
            <div class="list-room" id="posts">
                <article class="post-item">
                    <a href="./detail-room.html" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
                <article class="post-item">
                    <a href="#" style="text-decoration:none;">
                        <img src="../public/images/contoh post.jpg" alt="" class="post-item__thumbnail">
                        <h3 class="post-item__title">Bala Sentosa</h3>
                        <div class="post-item__content">
                            <p class="post-item__rating">⭐⭐⭐⭐ <span class="jumlah-rating">4.3</span></p>
                            <p class="post-item__address">📍Jl. Wiratama No.82, Tegalrejo, Kec. Tegalrejo, Kota
                                Yogyakarta</p>
                            <p class="post-item__start-money">mulai dari<br><span class="money">450.000</span></p>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>

    <!-- #### AKHIR LIST METTTING ROOM #### -->
    <!-- fotor start -->
    <footer class="text-center text-white">
        <div class="text-footer text-center text-dark p-3">
            <p>Developed by @Diroom.in</p>
        </div>
    </footer>
    <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>

</body>

</html>